* {
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins', sans-serif; */
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  /* padding-left: 50px;
  padding-right: 50px; */
}

/* NB
for p, font is 20px
for h1, font is 80px
 */

.header {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 10%;
  padding-right: 10%; */
  height: 100px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  position: relative;
  background-color: #643E46FF;
}

.header h1 {
  font-size: 50px;
  cursor: pointer;
  transition: ease-in-out 0.6s;
}
.header h1:hover{
  letter-spacing: 3px;
  transition: ease-in-out 0.6s;
}

.header a {
  text-decoration: none;
  color: white;
}

.header span {
  color: #EE2737FF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 20px;
}

li {
  display: inline;
  margin: 5px;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: white;
  padding: 10px .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

li:hover {
  /* color: black; */
  box-shadow: inset 200px 0 0 0 #EE2737FF;
  height: 100px;
  width: 30px;
  border-radius:5px;
}

li a {
  text-decoration: none;
  color: inherit;
}

.section {
  /* border: 2px solid yellowgreen; */
  height: 500px;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}

.section-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
}

.mini-info {
  margin: 25px;
  width: 100%;
}

.i-ed{
  display: block;
  /* background: ; */
  border: 3px solid #BA0020FF;
  border-radius: 10px;
  padding: 10px;

}

.i-ed p{
border: 3px solid white;
width: 200px;
text-align: center;
margin: 10px;
border-radius: 50px;

}
.i-about-me{
  line-height: 30px;
  font-weight: 500;
  /* border: 1px solid red; */
  transition: ease-in-out 0.6s;
  background-color: rgb(82, 26, 26);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 0px 15px #fffdfd70;
  transition: ease-in-out 0.6s;
}
.mini-info h1 {
  font-size: 50px;
}

.mini-info p {
  /* margin-left: 25px; */
  font-size: 20px;
  font-weight: 550;
}

.logo {
  margin: 25px;
  margin-left: 0;
  width: 150px;
}

.logo img {
  box-shadow: 0px 15px 20px #76606070;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: ease-in-out 0.6s;
}
.logo img:hover{
  transform: translateY(-5px);
  transition: ease-in-out 0.6s;
}

.get-in-touch {
  padding: 15px;
  border-radius: 5px;
  width: 130px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
  background: #BA0020FF;
  font-weight: 550;
  transition: ease-in-out 0.5s;
}

.get-in-touch:hover {
  background-color:#BA0020FF;
  color: black;
  /* margin-top: -8px; */
  transform: translateY(-5px);
  transition: ease-in-out 0.5s
}

.share {
  /* border: 1px solid black; */
  margin-top: 10px;
  height: 50px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.social i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  box-shadow: 0px 20px 40px #00000070;
  border: 1px solid #3b3b3b;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  margin: 0 7px;
  transition: all 0.6s ease-in-out;
}

.social i:hover {
  transform: translateY(-5px);
  background-color: #BA0020FF;
}